.not-found{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #323232; 
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found-frame{
    position: relative;
    z-index: 50;
    width: 400px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 15px;
    backdrop-filter: blur(10px);
    background: rgb(255, 255, 255, 0.1);
    color: #fff;
}

.not-found-title {
    margin: 0;
    font-size: 130px;
}

.not-found-link {
    font-size: 1.2em;
}

.not-found-link a {
    text-transform: uppercase;
    display: inline;
    text-decoration: none;
    color: #fff;
    padding-bottom: 5px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 11px 50px;
    transition: 0.3s;
}

.not-found-link a:hover {
    color: #fff;
    letter-spacing: 5px;
    transition: 0.3s;
}

.sky{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 150vw;
    aspect-ratio: 1/1;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(79,225,255,1) 65%, rgba(195,245,255,1) 100%);
    animation: sky-spin 60s linear infinite;
}

.sity{
    position: absolute;
    bottom: 0;
    z-index: 50;
    width: 100%;
    height: 200px;
    background: url(../../assets/sity.png);
    background-size: contain;
}

.frame{
    height: 2300px;
    width: 300px;
    position: absolute;
    bottom: -500px;
    left: 50%;
    transform: translate(-50%, 50%);
    animation: sky-spin 60s linear infinite;
}

.sun{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    aspect-ratio: 1/1;
    background: url(../../assets/sun.png) no-repeat;
    background-size: contain;
    animation: sun-moon-spin 60s linear infinite;
}

.moon{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    aspect-ratio: 1/1;
    background: url(../../assets/moon.png) no-repeat;
    background-size: contain;
    animation: sun-moon-spin 60s linear infinite;
}

@keyframes sky-spin {
    to {
      transform: translate(-50%, 50%) rotate(-360deg);
    }
}

@keyframes sun-moon-spin {
    to {
      transform: translate(-50%) rotate(360deg);
    }
}
  