.main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.main-nav li {
    margin-left: 20px; 
}

.link {
    text-transform: uppercase;
    text-decoration: none;
    color: #bfbfbf;
    padding-bottom: 5px;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 90%, #bfbfbf 90%, #bfbfbf 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: left;
    transition: 0.3s ease;
}

.link:hover {
    background-size: 100% 100%;
    background-position-x: right; 
    color: #606060; 
}

.active-link {
    text-transform: uppercase;
    color: #369f16; 
    padding-bottom: 5px;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 90%, #369f16 90%, #369f16 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: left;
    transition: 0.3s ease;
}

.active-link:hover {
    background-size: 100% 100%;
    background-position-x: right; 
    color: #606060; 
}
