.menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.menu-title {
    font-size: 30px;
    margin: 0;
}

.menu-add {
    border: none;
    font-size: 18px;
    text-decoration: none;
    border-radius: 15px;
    padding: 5px 35px;
    background:#369f16;
    color: #fff;
    transition: 0.3s;
}

.menu-add:hover {
    background:#21660c;
    color: #fff;
}